<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>881248571092-602hmtn6620rr75dhunru15upo7rkqv0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.881248571092-602hmtn6620rr75dhunru15upo7rkqv0</string>
	<key>API_KEY</key>
	<string>AIzaSyBcOWG7kr2nwlfqbwf_wWN0jjKynd5oZTY</string>
	<key>GCM_SENDER_ID</key>
	<string>881248571092</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterLabFirebas</string>
	<key>PROJECT_ID</key>
	<string>flutter-lab-firebas-4f04d</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-lab-firebas-4f04d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:881248571092:ios:12e57a4342c0fccbb73541</string>
</dict>
</plist>